html,
body {
  margin: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}
h3 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 40px;
  right: 120px;

  color: transparent;
  text-shadow: 0 0 2px white;
}
.result {
  /* display: table; */
  font-size: 4em;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 40%;
}
.hidden {
  display: none;
}
